<!-- Footer Section -->
<div class="footer-container">
  <div class="footer-top">
    
    <!-- footer image -->
    <img
      src="/assets/logos/logo-yellow-small.png"
      alt="Logo"
      class="footer__logo"
    />

    <!--footer items-->
    <div class="footer-links">
      <div class="footer-link-wrapper">
        <div class="footer-link-items">
          <h2>About Us</h2>
          <a href="/a">Testimonials</a>
          <a href="/b">Careers</a>
          <a href="/c">Terms of Service</a>
        </div>
        <div class="footer-link-items">
          <h2>Perfumes</h2>
          <a href="/d">The Liquors</a>
          <a href="/e">The Fresh</a>
          <a href="/f">The Narcotics</a>
          <a href="/g">The Cellars</a>
          <a href="/h">The Smokes</a>
        </div>
        <div class="footer-link-items">
          <h2>Need Help?</h2>
          <a href="/i">Contact</a>
          <a href="/j">Support</a>
          <a href="/k">Destinations</a>
        </div>
        <div class="footer-link-items">
          <h2>Social Media</h2>
          <a href="https://www.instagram.com/KILIANPARIS/">Instagram</a>
          <a href="https://www.facebook.com/KilianParis/">Facebook</a>
          <a href="https://www.youtube.com/channel/UCEtN_YtDmadyFebgqDm3_fg"
            >Youtube</a
          >
        </div>
      </div>
    </div>
  </div>

  <div class="footer-link-border">
    <hr />
    <p>&copy; Tamwood Final Project Module 1</p>
  </div>
</div>
