/* about.css */

/* about */
.about-us {
    padding: 50px 0;
    background-image: url('/assets/kilian/perfume/about-us.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: darken; 
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    color: white;
    height: 500px;

    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center;
  }
  
  .about-us h1 {
    font-size: 3rem;
    margin-bottom: 60px;
    background-color: transparent; 
  }
  
  .about-us p {
    font-size: 1.2rem;
    max-width: 900px;
    margin: 0 auto;
    line-height: 1.5;
    background-color: transparent; 
  }


/* vision */
  .vision {
    max-width: 1440px;
    margin: 0 auto;
    padding: 50px 40px;
    text-align: center;
    background-color:beige;
    opacity: 0.9;
  }
  .vision-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    background-color: transparent;
  }
  
  .vision-header h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0 20px;
    letter-spacing: 2px;
    background-color: transparent;
  }
  
  .left-line, .right-line {
    flex-grow: 1;
    height: 1px;
    background-color: black;
    border: none;
  }

  .vision-body {
    width: 800px;
    background-color: transparent;
    align-items: center;
    margin: 0 auto;
  }
  .vision-body p{
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    background-color: transparent;
  }
  

/* founder */
.founder{
    position: relative;
    height: 700px; 
}

.float-left {
    float: left;
    width: 45%; 
    margin: 30px;
    height: 600px; 
    object-fit: cover; 
    position: relative;
    top: 50%; 
    transform: translateY(-50%); /* 요소의 중앙이 부모의 중앙에 오도록 이동 */
}

.founder-text {
    float: right;
    width: 45%; 
    margin: 30px 0px;
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
}

.founder-text h2 {
    font-size: 30px;
    margin-bottom: 15px;
    color: #f7931e;
}

.founder-text p {
    margin-bottom: 20px;
    line-height: 1.6;
    color: white;
    font-size: 20px;
}


/* clearfix */
/* object of desire*/
.clearfix-container {
  background-color: beige;
  padding: 30px;
  margin: 20px;
}

.clearfix-left-content {
  float: left;
  width: 48%;
  padding: 20px;
  color: black;
  text-align: center;
}

.clearfix-left-content h2{
  font-size: 1.5rem;
  font-weight: 600;
  margin: 20px 20px;
  letter-spacing: 2px;
}

.clearfix-left-content p{
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 20px;
 }

.clearfix-right-content {
  float: right;
  width: 48%; 
  height: 750px; 
  position: relative;
}

.clearfix-right-content img {
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  max-width: 100%; 
  min-height: 600px;
  height: 100%;
  object-fit: cover; 
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
