/* nav.css */
.navbar {
  background: #131313;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
}

nav img {
  max-height: 70px;
  margin-top: 30px;
}

nav ul li a:hover {
color: rgb(229, 145, 0);
}

nav ul li a:active {
color: rgb(92, 229, 0);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 95px;
  z-index: 1;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 50px;
}

.navbar-menu {
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap:30px;
}

.navbar-item {
  margin-left: 20px;
  margin-top: 50px;
}

.navbar-links {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
}


/* signin-button */
.signin-btn {
  background-color: #f5a623; 
  color: #fff;
  border: none; 
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-top: 50px;
}

.signin-btn:hover {
  background-color: #df8900; 
  transform: translateY(-2px); 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.signin-btn:active {
  background-color: #228f3a;
  transform: translateY(1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
